html {
  margin: 0;
}

body {
  margin: 0;
  background-color: #122b29;
}

#info-section {
  background-color: #acbed8;
}

#title {
  color: #e8ebf7;
  text-align: center;
  font: 40px 'Playfair Display', serif;
}
